@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: #e96acd;
}

header {
    background-color: #8c52ff;
    display: flex;
    gap: 20px;
    grid-gap: 20px;
    position:fixed;
    width: 100%;
}

.logo {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
}
.menu_clases {
    background: white;
    border: 5px solid white;
    color: #e96acd;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5%;
    font-family: 'Sigmar', cursive;
}




.menu__item a:hover {
    background: #e96acd;
    color: white;
}

.menu_clases:hover{
    background: #e96acd;
    color: white;

}


.imagenPrincipal {
    height: 80vh;
    background-image: url("../img/coco.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;
    padding-top: 20rem;
}


/********** Pseudoelementos ***********/
.imagenPrincipal h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    padding-inline: 15px;
    font-family: 'Kanit', sans-serif;
   
}

.imagenPrincipal h2::first-letter {
    color: #e96acd;
}

.imagenPrincipal h2::selection {
    background: #e96acd;
    color: black;
}

.titclases h2::first-letter {
    color: #e96acd;
}

.titclases h2 {
    color: rgb(39, 11, 39);
    padding-inline: 15px;
    font-family: 'Kanit', sans-serif;
}


.tarjetitas {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.tarjetita {
    background-color: #8c52ff8f;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.informacion {
    padding: 0 20px 20px 20px;
    font-family: 'Kanit', sans-serif;
}

.tarjetita__imagen {
    max-width: 100%;
}

.pie {
    background-color: #7947dd;
    color: white;
    padding-block: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Sigmar', cursive;
}

.tarjetitados {
    flex: 1.5;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.menu li {
    display: inline-block;
    position: relative;
    
  }

  ul.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background: #e96acd;
    color: white;
    font-family: 'Sigmar', cursive;

  }

  ul.menu li:hover > ul.submenu {
    display: block;
  }

  ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    padding: 0;
  }

  ul.submenu li {
    display: block;
  }

  ul.submenu li a {
    padding: 10px;
  }